@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    font-size: 1.5rem;

    background-color: #475569;
    background-image: radial-gradient(whitesmoke,#475569);
    /*
    radial-gradient(whitesmoke,#475569)- alwasys in the center white;
    */
    display: flex;
    flex-direction: column;
}

header,nav, main, footer{
    display: grid;
    place-content: center;/**/
    grid-template-columns: 100%;
    text-align: center;
}
header, footer{
    position: sticky;
    background-color: #1E293B;
    color: whitesmoke;
}
header{
    top: 0;
}
nav{
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
}
main{
    flex-grow: 1;
}
footer{
    bottom: 0;
}
/*small*/
@media screen and (min-width: 576px) {
    body{
        background-image:radial-gradient(white, green) ;
    }
}
/*medium*/
@media screen and (min-width: 768px) {
    body{
        background-image:radial-gradient(white, gold) ;
    }
}
/*large*/
@media screen and (min-width: 992px) {
    body{
        background-image:radial-gradient(white, firebrick) ;
    }
}
/*XL*/
@media screen and (min-width: 1200px) {
    body{
        background-image:radial-gradient(white, rebeccapurple) ;
    }
}
/*Land scape mobile view*/
@media screen and (max-height: 481px) and (min-aspect-ratio: 7/4){
    body{
        background-image:radial-gradient(white, blue) ;
        font-size: 1.5rem;
    }
    nav{
        display: none;
    }
}



/*
@media media type and (condition:breakpoint){
    css rules

-media types = screen   .

-condition 
 min-width: 481px;
 orientaion: landscape
 min-aspect-ratio: 7/4

}
*/

/*
Breakpoint of media qoury

481 < cellphone
481 - 768 tabs
768 - 1024 laptop
1024 - 1200 desktop
1068 < extra large screen

*/